<template>
  <div class="modal" :class="[{ 'active': isActive }]">
    <div class="modal__inner" :class="[position, size]">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isActive: { type: Boolean, required: false, default: false },
    position: {
      type: String,
      required: false,
      default: 'right',
      validator (value) {
        return ['left', 'center', 'right', 'full'].includes(value)
      }
    },
    size: {
      type: String,
      required: false,
      default: 'sm',
      validator (value) {
        return ['sm', 'md', 'full'].includes(value)
      }
    }
  }
}
</script>

<style scoped lang="scss">
.modal {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow: hidden;
  visibility: hidden;

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: #2E2E2E 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 0.46;
  }

  &.active {
    visibility: visible;
  }

  &__inner {
    &.right {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      background-color: white;
      overflow: auto;
    }

    &.left {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      background-color: white;
      overflow: auto;
    }

    &.sm {
      width: 600px;
    }

    &.md {
      width: 750px;
    }

    &.full {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100vw;
      background-color: white;
      overflow: auto;
    }
  }
}
</style>
