<template>
  <div class="pub-inner">
    <section class="pub-inner__header-session">
      <div class="pub-container h-full">
        <header>
          <nav>
            <img src="" alt="logo" />
            <ul>
              <li>connecter</li>
              <li><button>S'inscrir</button></li>
            </ul>
          </nav>
        </header>
        <div class="presentation">
          <h1>Bienvenu en afrique</h1>
          <h2 class="w-50 m-auto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            soluta odit error nulla magnam.
          </h2>
          <button>decouvrir nos parcours</button>
        </div>
      </div>
    </section>

    <section class="parcours pub-container--sm">
      <h1>Quelques parcours</h1>
      <div class="parcours-list">
        <PCard />
        <PCard />
        <PCard />
        <PCard />
        <PCard />
      </div>
      <div class="more-parcours">Voir plus</div>
    </section>

    <section class="suscribe">
      <h1>
        broommmmmmmmmmmmmmmm Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Soluta, recusandae?
      </h1>
      <div class="suscription-email">
        <form action="">
          <input type="email" />
          <button></button>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import PCard from '@/components/parcoursCard.vue'
export default {
  components: {
    PCard
  }
}
</script>

<style lang="scss" scoped>
.pub-inner {
  &__header-session {
    color: white;
    height: 100dvh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/discoverAfrica.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    header {
      padding-top: 16px;
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
          display: flex;
          align-items: center;
          gap: 16px;
          li {
          }
        }
        button {
          padding: 10px 16px;
          border: 1px solid;
          border-radius: 18px;
          background-color: rgb(6 2 5 / 85%);
        }
      }
    }
    .presentation {
      text-align: center;

      h1 {
        margin-top: 36vh;
        // color: black;
        font-size: 36px;
      }
      h2 {
        margin: 16px auto;
        font-size: 16px;
      }
      button {
        padding: 10px 16px;
        border: 1px solid;
        border-radius: 18px;
        margin-top: 20px;
        background-color: rgb(6 2 5 / 85%);
      }
    }
  }
  .parcours {
    & > h1 {
      font-size: 35px;
      margin: 40px 0;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        background-color: #321c18;
        border-radius: 50%;
        left: -25px;
        top: 10px;
      }
    }

    .parcours-list {
      display: grid;
      grid-template-columns: repeat(3, 30%);
      gap: 50px;
    }

    .more-parcours {
      margin: 40px 0;
      text-align: right;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
</style>
