@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import "base/global";
@import "components/global";
@import "helpers/global";

html {
    font-size: rem(14, 16);
    font-family: Poppins;
    // overflow: hidden !important; 


    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 4px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

:root {
    // --color-primary: #6f1d1b;
    // #f3ece8
    --color-nav-bgc: #f3ece8;
    // --color-primary: #8D6E63;
    --color-primary: #63282A;
    // --color-danger: #ff7762;
    --color-danger: #dd3300;
    --color-success: #40e7af;
    --color-warning: #ffbb55;
    --color-white: #ffffff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #ffddd2;
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f9f7f6;

    --card-border-radiud: 2rem;
    --border-radiud-1: .4rem;
    --border-radiud-2: .8rem;
    --border-radiud-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variable {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-nav-bgc: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light)
}