<template>
  <div>
    <div class="pagination"><div class="mt-[30px] flex justify-end"><div>1/12</div></div></div>
    <div class="s-table">
      <div class="table-header" :class="{'responsive' : smallScreen}">
        <div class="table-header__row">
          <template v-for="col in columns">
            <slot :col="col" name="tHeader"></slot>
          </template>
        </div>
      </div>

      <div class="table-body">
        <template v-for="row in data">
          <slot :row="row"></slot>
        </template>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  props: {
    columns: { type: Array, required: true },
    data: { type: Array, required: true }
  },
  data () {
    return {
      smallScreen: false
    }
  },
  mounted () {
    this.handleResize()
    window.addEventListener('resize', this.handleResize)
  },

  destroyed () {
    window.removeEventListener('resize', this.handleResize)
  },

  methods: {
    handleResize () {
      if (window.innerWidth <= 825) { this.smallScreen = true } else { this.smallScreen = false }
    }
  }
}
</script>

<style lang="scss">

</style>
