<template>
  <div class="table-body__row">
    <slot />
  </div>
</template>

<style scoped lang="scss">
.table-body {
  &__row {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    width: 100%;

    .table-item {
      height: 2.9rem;
      padding: 3px;
      min-width: 10.5rem;
      display: flex;
      align-items: center;
      // flex-basis: 13.75rem;
      flex-basis: 100%;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.responsive {
  &.table-body__row {
    display: block;
    margin-bottom: 1rem;
    border-bottom: none;
  }
}

// @media screen and (max-width: 1550px) {
//   .table-body__row {
//     display: block;
//     margin-bottom: 1rem;
//     border-bottom: none;
//   }
// }
</style>
