<template>
  <div class="table-item">
    <div class="ellipsis w-100" :class="[textPosition, textColor]">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    textPosition: { type: String, required: false, default: 'left' },
    textColor: { type: String, required: false, default: '' }
  }
}
</script>

<style scoped lang="scss">
.table-item {
  height: 2.9rem;
  padding: 3px;
  min-width: 10.5rem;
  display: flex;
  align-items: center;
  // flex-basis: 13.75rem;
  flex-basis: 100%;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.responsive {
  &.table-item {
    padding-left: 200px !important;
    position: relative;
    // background-color: white;
    background-color: var(--main-color);
    border-bottom: 1px solid #ccc;
    text-align: center !important;
    font-size: 13px;

    div {
      text-align: center !important;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }

    &:nth-child(odd) {
      background-color: #eee;
    }

    &::before {
      padding: 12px 0 12px 12px;
      content: var(--column-title);
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: black;
      color: white;
      left: 0;
      width: 196px;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 13px;
    }
  }
}

.center {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.text-danger {
  color: var(--color-danger-dark);
}

.text-light-green {
  color: var(--color-success-light);
}

.text-black {
  color: #000;
}
</style>
