<template>
  <div class="table-item">
    <div class="ellipsis w-100" :class="props.textPosition">
      <AddTag :label="row.status" :bg-color="row.status === 'Payée' ? 'green' : 'danger'" />
    </div>
  </div>
</template>

<script></script>
