<template>
  <ValidationObserver v-slot="{ handleSubmit }" slim>
    <form
      ref="sForm"
      @submit.prevent="handleSubmit(saveService)"
      @keypress.enter.prevent="handleSubmit(saveService)"
    >
      <ValidationProvider v-slot="{ errors }" name="Libellé" rules="required">
        <div class="mb-[18px]">
          <label for="title">Libellé:</label>
          <input
            v-model="title"
            class="form--input mt-[12px]"
            :class="{ 'form--input--error': errors[0] }"
            type="text"
          />
          <div class="mt-1 text--danger">{{ errors[0] }}</div>
        </div>
      </ValidationProvider>

      <ValidationProvider
        v-slot="{ errors }"
        name="Description"
        rules="required"
      >
        <div class="mb-[18px]">
          <label for="title">Description:</label>
          <textarea
            v-model="description"
            class="form--textarea--bordered mt-[12px]"
            :class="{ 'form--input--error': errors[0] }"
            cols="30"
            rows="10"
          ></textarea>
          <div class="mt-1 text--danger">{{ errors[0] }}</div>
        </div>
      </ValidationProvider>
      <ValidationProvider v-slot="{ errors }" name="prix" rules="required">
        <div class="mb-[18px]">
          <label for="prix">Prix:</label>
          <input
            v-model="price"
            class="form--input mt-[12px]"
            :class="{ 'form--input--error': errors[0] }"
            type="number"
          />
          <div class="mt-1 text--danger">{{ errors[0] }}</div>
        </div>
      </ValidationProvider>
      <!-- <div class="mb-[18px]">
        <div>Image:</div>
        <UploadFile @addFile="pictures = $event" />
      </div> -->
      <div class="flex items-center justify-end">
        <Button
          title="Enregistrer"
          :show-spinner="savingData"
          class="dk-btn--primary dk-flex items-center mr-3"
        />
        <Button
          title="precedent"
          class="dk-btn--black__outline dk-flex items-center"
          @click="clearForm($event)"
        />
      </div>
    </form>
  </ValidationObserver>
</template>

<script>
import Button from '@/components/button.vue'
// import UploadFile from '@/components/uploadFile.vue'

export default {
  components: {
    Button
    // UploadFile
  },
  props: {
    editItem: { type: Object, required: false, default: () => ({}) }
    // isEditMode: { type: Boolean, required: false, default: false }
  },
  data () {
    return {
      savingData: false,
      title: '',
      description: '',
      price: 0,
      pictures: {},
      createdBy: '',
      editMode: false
    }
  },
  watch: {
    editItem: {
      immediate: true,
      handler (value) {
        if (!this.$isEmptyObject(value)) {
          this.title = value.title
          this.description = value.description
          this.price = value.basicPrice
          // this.pictures = value.pictures
          this.editMode = true
        }
      }
    }
  },
  mounted () {
    this.createdBy = this.$auth.user.data[0]._id
  },
  methods: {
    clearForm (_e) {
      // e.preventDefault()
      this.title = ''
      this.description = ''
      this.price = 0
      this.$refs.sForm.reset()
      // this.pictures = {}
      this.editMode = false
    },

    async saveService () {
      this.savingData = true

      if (this.editMode) {
        console.log('edit service')
        this.$emit('editService')
        this.editMode = false
        this.clearForm()
      } else {
        try {
          const service = await this.$addService({
            title: this.title,
            description: this.description,
            basicPrice: this.price,
            pictures: this.pictures,
            createdBy: this.createdBy
          })
          if (service?.error) {
            this.$notify({
              type: 'error',
              message: this.$t(service.message)
            })
          } else {
            this.$notify({
              message: `Le service ${service.title} est bien enrégistré.`
            })
          }

          this.$emit('saveService')
          this.clearForm()
          // this.$refs.sForm.reset()
          // this.pictures = {}
        } catch (err) {
          console.log('error', err)
          this.$notify({ type: 'error', message: err.response.data.message })
          this.savingData = false
        }
      }

      this.savingData = false
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
