<template>
  <div class="grid grid-cols-[400px_1fr] gap-[30px] services">
    <div class="form">
      <ServiceForm :edit-item="editItem" @saveService="refreshList" @editService="editionComplete" />
    </div>
    <div class="list-container">
      <h1 class="title">Liste des services disponibles</h1>
      <div class="items">
        <div v-if="isLoading" class="w-full flex items-center justify-center">
          <Spinner
            height="40px"
            width="40px"
            stroke="#000"
            fill="#000"
            class="mr-2"
          />
        </div>
        <CustomTable
          v-else
          :key="refreshKey"
          :data="services"
          :columns="columns"
          :class="{ responsive: smallScreen }"
        >
          <template #tHeader="{ col }">
            <div
              class="table-item fs-13 text--variant fw-400 w-100"
              :class="{ hidden: smallScreen }"
            >
              <div class="w-100 text-center">{{ col.title }}</div>
            </div>
          </template>
          <template #default="{ row }">
            <TableRow :class="{ responsive: smallScreen }">
              <TabCelText
                title="title"
                text-position="center"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'Nom'"
              >{{ row.title }}
              </TabCelText>
              <TabCelText
                title="title"
                text-position="center"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'Desc'"
              >{{ row.description }}
              </TabCelText>

              <TabCelText
                title="title"
                text-position="center"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'BasicPrice'"
              >{{ row.basicPrice }}
              </TabCelText>

              <!-- <TabCelText
                title="date de fin"
                text-position="left"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'createdAt'"
              >
                {{ $dayjs(row.createdAt).format("DD/MM/YYYY") }}
              </TabCelText> -->

              <!-- <TabCelText
                title="creer par"
                text-position="center"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'Prenom'"
              >
                {{ row.createdBy }}
              </TabCelText> -->

              <TabCelText
                title="Actions"
                text-position="left"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'Actions'"
              >
                <div class="flex justify-center">
                  <div
                    class="ml-1 mr-1 cursor-pointer p-2 br-100"
                    @click="editService({ ...row })"
                  >
                    <span class="material-symbols-outlined fs-16"> edit </span>
                  </div>
                  <div
                    class="ml-1 mr-1 cursor-pointer p-2 br-100"
                    @click="deleteService({ ...row })"
                  >
                    <span class="material-symbols-outlined fs-16">
                      delete
                    </span>
                  </div>
                </div>
              </TabCelText>
            </TableRow>
          </template>
        </CustomTable>
      </div>
    </div>
  </div>
</template>

<script>
import ServiceForm from './add.vue'
import CustomTable from '@/components/simpleTable'
import TableRow from '@/components/simpleTable/tableRow.vue'
import TabCelText from '@/components/simpleTable/dataTypes/tabCelText.vue'
// import Avatar from '@/components/avatar.vue'
export default {
  components: {
    ServiceForm,
    CustomTable,
    TableRow,
    TabCelText
    // Avatar
  },
  layout: 'back/adminTemplate',
  data () {
    return {
      isLoading: true,
      smallScreen: false,
      refreshKey: 0,
      columns: [
        // {
        //   key: 'coverImg',
        //   title: 'Picture'
        // },
        {
          key: 'title',
          title: 'Title'
        },
        {
          key: 'description',
          title: 'Description'
        },
        {
          key: 'basicPrice',
          title: 'Prix de base'
        },
        // {
        //   key: 'createdAt',
        //   title: 'Date de creation'
        // },

        // {
        //   key: 'createdBy',
        //   title: 'creer par'
        // },
        {
          actions: 'action',
          title: 'Actions'
        }
      ],
      services: [],
      editItem: {}
    }
  },
  mounted () {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
    this.getServices()
  },
  destroyed () {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    async getServices () {
      this.refreshKey++
      this.isLoading = true
      const allServices = await this.$getServices({
        createdBy: this.$auth.user.data[0]._id
      })
      this.services = allServices
      this.isLoading = false
    },
    handleResize () {
      if (window.innerWidth <= 1080) {
        this.smallScreen = true
      } else {
        this.smallScreen = false
      }
    },
    goToNextStep (value) {
      this.courseId = value
      this.currentStep = this.currentStep + 1
    },
    async deleteService (item) {
      const x = await this.$deleteService(item)
      if (x?.error) {
        this.$notify({
          type: 'error',
          message: this.$t(x.message)
        })
      } else {
        this.$notify({
          message: this.$t('text.confirmServiceDel')
        })
      }
      this.getServices()
    },
    refreshList () {
      console.log('call refresh list')
      this.getServices()
    },
    editService (item) {
      this.editItem = item
    },
    editionComplete () {
      this.isEditing = false
    }
  }
}
</script>

<style lang="scss" scoped>
.services {
  padding: 32px;
  .list-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .items {
      max-width: 900px;
      overflow: scroll;
      height: 100%;
    }
  }
}
</style>
