<template>
  <div>

    <div> {{ $t('menu.user') }} </div>
    <div> {{ $t('text.bonjour') }} </div>
    <div> {{ $t('text.confirmServiceDel') }} </div>
    <br />
    <br />
    <button class="dk-btn--primary" @click="switchLocalePath('en')">en</button>
    <button class="dk-btn--primary" @click="switchLocalePath('fr')">fr</button>
    <div>
      <nuxt-link :to="switchLocalePath('fr')">Français</nuxt-link>
      <nuxt-link :to="switchLocalePath('en')">English</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  layout: 'back/adminTemplate'
}
</script>
