@import "../base/typo";

.wiin-switch_v2 {
    height: 30px;
    min-width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-dark);
    color: var(--color-white);
    cursor: pointer;
    user-select: none;
    padding: {
      right: 20px;
      left: 40px;
    }
    border: {
      radius: 20px;
      width: 1px;
      style: solid;
    }
  
    &:after {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      background-color: var(--color-white);
  
      border: {
        radius: 50%;
      }
    }
  
    &:not(.active) {
      &:after {
        left: 5px;
      }
    }
  
    &.active {
      padding: {
        right: 40px;
        left: 20px;
      }
  
      &:after {
        right: 5px;
      }
    }
  
    &__success.active {
      color: var(--color-white);
      background-color: var(--color-primary);
    }
  }