.form {
  &--readonly, &[readonly] {
    background-color: #efefef !important;
    pointer-events: none;
    opacity: 0.8;
  }
  &--input {
    height: 50px;
    border-radius: 5px;
    background-color: #f3f6f8;
    border: 1px solid var(--color-primary);
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;

    &--readonly,  &[readonly] {
      @extend .form--input;
      pointer-events: none;
      border: 1px solid #656f80;
      background-color: #d2d8eb;
      color: #656f80;
    }

    &--disabled {
      @extend .form--input;
      pointer-events: none;
      border: 1px solid #656f80;
      background-color: #d2d8eb;
      color: #656f80;
    }

    &--search {
      @extend .form--input;
      border: 1px solid #656f80;
      background-color: #f3f6f8;
      color: #656f80;
    }

    &--fo {
      @extend .form--input;
      border: 1px solid #D2D8EB;
      background-color: #F3F6F8;
      color: #656f80;
    }

    &--primary {
      @extend .form--input;
      border-color: var(--color-primary);
    }

    &--white {
      border: #000000;
    }

    &--danger {
      background: #ef5350 0% 0% no-repeat padding-box;
      color: #fff;

      &--bordered {
        border: 1px solid #ef5350;
      }
    }

    &--success {
      background: #07d79c 0% 0% no-repeat padding-box;
      color: #fff;
    }

   


    &::placeholder {
      opacity: 0.6;
    }

    &--transparent {
      @extend .form--input;
      background-color: transparent;
      outline: none;
      border: none;

      &:focus {
        border: none !important;
        outline: none !important;
      }
    }

    &.gray {
      background-color: var(--color-primary);
    }

    &.borderless {
      border: none;
    }

    &--bordered {
      @extend .form--input;
      border: 1px solid #707070;

      &--gray {
        @extend .form--input;
        border: 1px solid #D2D8EB;
       
      }

    }

    &--error {
      border: 1px solid var(--color-danger) !important;
    }

    /***************************/

    .transparent {
      background: transparent;
    }
  }

  &--select {
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    width: 100%;
    padding-left: 10px;
    padding-right: 35px;
    outline: none;
    font-weight: 400;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='12.843' viewBox='0 0 21.527 12.843'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23242a;stroke-width:3px;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(20.482 1.076) rotate(90)'%3E%3Cpath class='a' d='M2384.824,302.807l9.48,9.652,9.932-9.652' transform='translate(-302.807 2404.236) rotate(-90)'/%3E%3C/g%3E%3C/svg%3E");
    background-position-x: calc(100% - #{10px});
    background-position-y: calc(50%);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-color: #f3f6f8;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
      display: none;
    }

    &--primary {
      @extend .form--select;
      // border-radius: rem(3);
      border-color: var(--color-primary);
    }

    &--default {
      background-color: #FFFFFF;
    }

    &--white {
      background-color: #FFFFFF;
    }

    &--danger {
      background: #ef5350 0% 0% no-repeat padding-box;
    }

    &.gray {
      background-color: var(--color-primary);
    }

    &--bordered {
      border: 1px solid #707070;

      &--gray {
        @extend .form--select;
        border: 1px solid #D2D8EB;
       
      }
      
    }

    &--no-border {
      border: none;
      background-color: #d2d8eb;
    }

    &--disabled,  &[disabled]  {
      @extend .form--select;
      pointer-events: none;
      border: 1px solid #656f80 !important;
      background-color: #d2d8eb !important;
      color: #656f80 !important;
      opacity: 1 !important;
    }

    &--readonly,  &[readonly] {
      @extend .form--input;
      pointer-events: none;
      border: 1px solid #656f80;
      background-color: #d2d8eb;
      color: #656f80;
    }

    option[disabled] {
      @extend .form--select;
      border: 1px solid #94969b !important;
      color: #656f80;
      background-color: #d2d8eb !important;
    }
  }

  &--vselect {
    .vs__dropdown-toggle {
      min-height: 40px;
      border-radius: 5px;
    }

    &--primary {
      @extend .form--select;

      .vs__dropdown-toggle {
        min-height: 40px;
        border-radius: 5px;
        border: 1px solid;
        border-color: var(--color-primary);
      }

      #vs1__listbox {
        max-height: 160px;
      }
      .vs__search::placeholder {
        opacity: 0.5;
      }

      .vs__dropdown-menu {
        li:hover {
          background-color: #3b86f9;
          color: #ffffff;
        }

        .vs__dropdown-option--highlight {
          background-color: #3b86f9;
          color: #ffffff;
        }

        .vs__dropdown-option--selected,
        .vs__dropdown-option--selected:hover {
          background-color: #0b3860;
          color: #ffffff;
        }
      }

      &.v-select:not(.vs--single).vs--searchable
        .vs__selected-options
        .vs__selected {
        padding-left: 9px;
        padding-right: 0;

        & button {
          margin-left: 11px;
          margin-right: 7px;
        }
      }

      & .vs__actions {
        & .vs__open-indicator {
          margin-right: 5px;
        }
      }
    }

    &.primary {
      #vs1__listbox {
        max-height: 100px;
      }
      .vs__search::placeholder {
        opacity: 0.5;
      }

      .vs__dropdown-menu {
        li:hover {
          background-color: #3b86f9;
          color: #ffffff;
        }

        .vs__dropdown-option--highlight {
          background-color: #3b86f9;
          color: #ffffff;
        }

        .vs__dropdown-option--selected,
        .vs__dropdown-option--selected:hover {
          background-color: #0b3860;
          color: #ffffff;
        }
      }

      &.v-select:not(.vs--single).vs--searchable
        .vs__selected-options
        .vs__selected {
        // .vs__selected {
        background-color: #0b3860;
        color: #FFFFFF;

        .vs__deselect {
          fill: #FFFFFF;
          margin-left: 10px;
        }
      }

      &.bordered {
        .vs__dropdown-toggle {
          border-color: var(--color-primary);
        }
      }
    }
  }

  &--textarea {
    min-height: 100px;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    outline: none;
    border-radius: 5px;

    &--primary {
      @extend .form--textarea;
      border-radius: 5px;
      border: 2px solid var(--color-primary);
      background-color: #f3f6f8;
    }

    &--bordered {
      @extend .form--textarea;
      border: 1px solid #707070;

      &--gray {
        @extend .form--textarea;
        border: 1px solid #D2D8EB;
       
      }

    }

    &--white {
      background-color: #FFFFFF;
    }

    &.gray {
      background-color: var(--color-primary);
    }

    &::placeholder {
      opacity: 0.6;
      //font-size: rem(17)
    }
  }

  &-error {
    font-size: 10px;
    padding-top: 3px;
    color: #d73a49;
  }

 
  &-block {
    position: relative;
  }

  &--group {
    &--half {
      width: 49%;
      display: inline-block;
    }

    &--flex {
      display: flex;
      justify-content: space-between;
    }
  }
}

.custom-checkbox
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: #656f80;
  border-color: var(--color-primary);
}

.infoIcon {
  height: 16px;
  width: 16px;
  border: {
    width: 1px;
    style: solid;
    color: #a0a0a0;
    radius: 50%;
  }
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #a0a0a0;
  font-size: 10px;
  cursor: default;
}

.fb-inline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 59px;
}
