.s-table {
  width: 100%;

  .table-header {
    font-weight: bold;

    &__row {
      display: flex;
      border-bottom: 1px solid #ccc;
      align-items: center;
      width: 100%;

      .table-item {
        height: 2.9rem;
        padding: 3px;
        min-width: 10.5rem;
        display: flex;
        align-items: center;
        flex-basis: 100%;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.ellipsis {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}