<template>
  <div class="add-course">
    <div class="add-course__inner">
      <span class="close" @click="$emit('close')">Fermer</span>
      <h1 class="mb-[30px] text-[24px]">Creer un parcour en quelques clicks</h1>

      <ValidationObserver v-slot="{ handleSubmit }" slim>
        <form
          ref="form"
          @submit.prevent="handleSubmit(saveCourse)"
          @keypress.enter.prevent="handleSubmit(saveCourse)"
        >
          <ValidationProvider v-slot="{ errors }" name="Titre" rules="required">
            <div class="mb-[18px]">
              <label for="title">Titre:</label>
              <input
                v-model="parcour.title"
                class="form--input mt-[12px]"
                :class="{ 'form--input--error': errors[0] }"
                type="text"
              />
              <div class="mt-1 text--danger">{{ errors[0] }}</div>
            </div>
          </ValidationProvider>

          <!-- <ValidationProvider
            v-slot="{ errors }"
            name="Date-de-debut"
            rules="required"
          >
            <div class="mb-[18px]">
              <pre>{{ errors }}</pre> :has-error="{ 'input--error': errors[0] }"-->
          <div class="mb-[18px] grid gap-4 grid-cols-[115px_1fr] items-center">
            <label for="startAt">Date de debut:</label>
            <DatePicker @selectedDate="parcour.startAt = $event" />
          </div>
          <!-- <div class="mt-1 text--danger">{{ errors[0] }}</div>
            </div>
          </ValidationProvider> -->

          <div class="mb-[18px] grid gap-4 grid-cols-[115px_1fr] items-center">
            <label for="endAt">Date de fin:</label>
            <DatePicker @selectedDate="parcour.endAt = $event" />
          </div>

          <div class="pt-[20px]">
            <UploadFile @addFile="parcour.coverImg = $event" />
          </div>

          <footer class="flex items-center justify-end mt-12">
            <Button
              title="Suivant"
              class="dk-btn--primary dk-flex items-center"
            />
          </footer>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import DatePicker from '@/components/datePiker.vue'
import Button from '@/components/button.vue'
import UploadFile from '@/components/uploadFile.vue'

export default {
  components: {
    Button,
    UploadFile,
    DatePicker
  },
  data () {
    return {
      savingData: false,
      parcour: {
        title: '',
        startAt: '',
        endAt: '',
        coverImg: {},
        createdBy: ''
      }
    }
  },
  methods: {
    async saveCourse () {
      if (!this.$dateControl(this.parcour.startAt, this.parcour.endAt)) {
        this.$notify({
          type: 'error',
          message: 'La date de debut doit etre inférieur à la date de fin.'
        })
        return
      }
      try {
        this.savingData = true
        const p = await this.$addCourse({ ...this.parcour, createdBy: this.$auth.user.data[0]._id })
        this.$emit('goTo', p.data._id)
        this.$notify({
          message: `Le parcour ${this.parcour.title} est bien enrégistré.`
        })
        this.savingData = false
      } catch (err) {
        this.$notify({ type: 'error', message: err.response.data.message })
        this.savingData = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.add-course {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__inner {
    max-width: 500px;
    margin: 0 auto;

    .close {
      position: fixed;
      top: 30px;
      left: 30px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .change-sth {
      &::v-deep.mx-datepicker {
        width: 100%;
      }

      &::v-deep .mx-input {
        height: 50px;
        border-radius: 5px;
        background-color: #f3f6f8;
        border: 1px solid var(--color-primary);
      }
      &::v-deep svg {
        fill: var(--color-primary);
      }
    }
  }
}
</style>
