<template>
  <div class="steps mt-[25px]">
    <div class="steps__inner">
      <h1 class="mb-[25px] text-[24px]">
        Definir les differentes etape qui compose votre parcours
      </h1>
      <div class="grid gap-[140px] grid-cols-2">
        <div class="left min-w-[390px]">
          <ValidationObserver v-slot="{ handleSubmit }" slim>
            <form
              ref="form"
              @submit.prevent="handleSubmit(addStep)"
              @keypress.enter.prevent="handleSubmit(addStep)"
            >
              <ValidationProvider v-slot="{ errors }" rules="">
                <div class="mb-[18px]">
                  <label for="title">Titre:</label>
                  <input
                    v-model="step.title"
                    class="form--input mt-[12px]"
                    :class="{ 'form--input--error': errors[0] }"
                    type="text"
                  />
                  <div class="mt-1 text--danger">{{ errors[0] }}</div>
                </div>
              </ValidationProvider>

              <ValidationProvider v-slot="{ errors }" rules="">
                <div class="mb-[18px]">
                  <label for="title">Description:</label>
                  <textarea
                    v-model="step.description"
                    class="form--textarea--bordered mt-[12px]"
                    cols="30"
                    rows="10"
                  ></textarea>
                  <div class="mt-1 text--danger">{{ errors[0] }}</div>
                </div>
              </ValidationProvider>

              <div class="grid gap-4 grid-cols-2">
                <div class="mb-[18px] items-center">
                  <label for="endAt">Date de debut:</label>
                  <DatePicker
                    :clear-data="clearDate"
                    :preview-date="step.startAt"
                    class="mt-[12px]"
                    @selectedDate="step.startAt = $event"
                  />
                </div>
                <div class="mb-[18px] items-center">
                  <label for="endAt">Date de fin:</label>
                  <DatePicker
                    :clear-data="clearDate"
                    :preview-date="step.endAt"
                    class="mt-[12px]"
                    @selectedDate="step.endAt = $event"
                  />
                </div>
              </div>

              <div class="grid gap-4 grid-cols-2">
                <ValidationProvider v-slot="{ errors }" rules="">
                  <div class="mb-[18px]">
                    <label for="title">Prix de base:</label>
                    <input
                      v-model="step.basicPrice"
                      class="form--input mt-[12px]"
                      :class="{ 'form--input--error': errors[0] }"
                      type="number"
                    />
                    <div class="mt-1 text--danger">{{ errors[0] }}</div>
                  </div>
                </ValidationProvider>
                <ValidationProvider v-slot="{ errors }" rules="">
                  <div class="mb-[18px]">
                    <label for="title">Devise:</label>
                    <select
                      v-model="step.curency"
                      class="form--select mt-[12px]"
                    >
                      <option value="$">$-Dolard</option>
                      <option value="€">€-Euro</option>
                      <option value="CFA">Fr-CFA</option>
                    </select>
                    <div class="mt-1 text--danger">{{ errors[0] }}</div>
                  </div>
                </ValidationProvider>
              </div>

              <div class="grid gap-4 grid-cols-[1fr_auto] mb-[18px]">
                <ValidationProvider v-slot="{ errors }" rules="">
                  <div class="">
                    <label for="title">Service:</label>
                    <CustomMultiSelecte
                      v-model="seletedServices"
                      :data="services"
                      class="mt-[12px]"
                    />
                    <div class="mt-1 text--danger">{{ errors[0] }}</div>
                  </div>
                </ValidationProvider>
                <Button
                  title="Creer"
                  class="dk-btn--black__outline dk-flex items-center mt-[25px] mb-[4px]"
                  @click.prevent="showAddServiceModal = true"
                />
              </div>

              <div class="pt-[20px]">
                <UploadFile
                  v-if="refreshComponet"
                  :clear="refreshComponet"
                  :preview-picture="step.pictures"
                  @addFile="step.pictures = $event"
                />
              </div>
              <div class="flex items-center justify-end">
                <Button
                  title="Ajouter"
                  class="dk-btn--blue dk-flex items-center"
                />
              </div>
            </form>
          </ValidationObserver>
        </div>
        <div class="right">
          <div v-for="(el, index) in steps" :key="index" class="item">
            <div class="left grid grid-cols-[100px_1fr]">
              <div class="picture">
                <img :src="el.pictures.location" alt="" />
              </div>
              <div class="info pl-[12px]">
                <div class="grid grid-cols-[1fr_100px]">
                  <div class="title font-semibold">{{ el.title }}</div>
                  <div class="text-xs flex justify-end font-semibold">
                    {{ el.basicPrice }}{{ el.curency }}
                  </div>
                </div>
                <div class="desc my-[6px] text-xs">{{ el.description }}</div>
                <div class="text-xs font-semibold">
                  <span>{{ el.startAt }} - {{ el.endAt }}</span>
                </div>
              </div>
            </div>
            <div class="rigth grid grid-cols-2 items-start justify-center">
              <div>
                <span
                  class="material-symbols-outlined cursor-pointer"
                  @click="editStep(el)"
                >
                  edit
                </span>
              </div>
              <div>
                <span
                  class="material-symbols-outlined cursor-pointer"
                  @click="deleteStep(el, index)"
                >
                  delete
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="flex items-center justify-end mt-12 mb-[16px]">
        <Button
          title="precedent"
          class="dk-btn--black__outline dk-flex items-center mr-3"
          @click="$emit('backTo')"
        />
        <Button
          title="Enregistrer"
          :show-spinner="savingData"
          class="dk-btn--primary dk-flex items-center"
          @click="saveSteps"
        />
      </footer>
    </div>
    <div v-if="showAddServiceModal" class="add-service">
      <div class="add-service__inner">
        <h2 class="title mb-[20px] font-semibold">Ajouter un service</h2>
        <Services
          @saveService="saveService"
          @close="showAddServiceModal = false"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Services from './../services/add.vue'
import DatePicker from '@/components/datePiker.vue'
import Button from '@/components/button.vue'
import UploadFile from '@/components/uploadFile.vue'
import CustomMultiSelecte from '@/components/customMultiSelecte.vue'
const randomstring = require('randomstring')

export default {
  components: {
    Button,
    UploadFile,
    DatePicker,
    CustomMultiSelecte,
    Services
  },
  props: {
    courseId: { type: String, required: true, default: '' }
  },
  data () {
    return {
      savingData: false,
      isEditingMode: false,
      refreshComponet: true,
      showAddServiceModal: false,
      step: {
        title: '',
        description: '',
        startAt: '',
        endAt: '',
        basicPrice: 0,
        pictures: {},
        curency: ''
      },
      steps: [],
      clearDate: false,
      services: [],
      seletedServices: []
    }
  },
  watch: {
  },
  mounted () {
    console.log('******', randomstring.generate(7))
    this.getServices()
  },
  methods: {
    addStep () {
      if (!this.$dateControl(this.step.startAt, this.step.endAt)) {
        this.$notify({
          type: 'error',
          message: 'La date de debut doit etre inférieur à la date de fin.'
        })
        return
      }
      if (!Object.keys(this.step.pictures).length) {
        this.$notify({
          type: 'error',
          message: 'Veuillez definir une photo pour le parcours.'
        })
        return
      }
      if (this.isEditingMode) {
        console.log('edit')
        this.isEditingMode = false
      } else {
        this.steps.push({
          ...this.step,
          reference: 1,
          services: this.seletedServices,
          parcoursId: this.courseId,
          createdBy: this.$auth.user.data[0]._id
        })
        this.clear()
      }
    },
    editStep (value) {
      this.isEditingMode = true
      this.$set(this.step)
      this.step.title = value.title
      this.step.description = value.description
      this.step.startAt = value.startAt
      this.step.endAt = value.endAt
      this.step.basicPrice = value.basicPrice
      this.step.pictures = value.pictures
      this.step.parcoursId = value.parcoursId
      this.step.curency = value.curency
    },
    deleteStep (_step, i) {
      this.steps = this.steps.filter((_el, index) => index !== i)
    },
    clear () {
      this.step = {}
      this.clearDate = true
      this.refreshComponet = true
      this.step.pictures = {}
      this.step.curency = ''
      this.seletedServices = []
    },
    saveSteps () {
      if (!this.steps.length) {
        this.$notify({
          type: 'error',
          message: 'Veuillez ajouter une etape au moin au parcours'
        })
        return
      }
      try {
        this.savingData = true
        this.steps.forEach(async (element) => {
          await this.$addStep(element)
        })
        this.steps = []
        this.$emit('close')
        this.$emit('saveSteps')
        this.$notify({
          message: 'Les etapes ont bien ete enrégistrées.'
        })
        // const y = new Promise((resolve, reject) => {
        //   this.steps.forEach(async (element) => {
        //     await this.$addStep(element)
        //   })
        //   resolve()
        // })
      } catch (err) {
        console.log('err', err)
      }
    },
    async getServices () {
      const allServices = await this.$getServices({
        createdBy: this.$auth.user.data[0]._id
      })
      this.services = allServices
      this.showAddServiceModal = false
      console.log('this service', this.services)
    },
    async saveService () {
      await this.getServices()
      this.showAddServiceModal = false
    }
  }
}
</script>

<style lang="scss" scoped>
.steps {
  &__inner {
    width: 70%;
    margin: 0 auto;

    .right {
      border: 1px solid var(--color-primary);
      border-radius: 5px;
      padding: 40px;
      max-height: 715px;
      overflow: auto;

      .item {
        display: grid;
        grid-template-columns: 1fr 100px;
        gap: 20px;
        background-color: #f3f6f8;
        padding: 12px;
        border-radius: 5px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      .desc {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 160px;
      }
    }
  }
  .add-service {
    background: var(--color-white);
    // background: red;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    display: grid;
    align-items: center;
    justify-content: center;

    &__inner {
      width: 35vw;
      padding: 20px;
      border-radius: var(--border-radiud-3);
      box-shadow: var(--box-shadow);
    }
  }
}
</style>
