<template>
  <div class="course">
    <div class="course__inner">
      <div class="t-header">
        <div>
          <div class="flex items-center">
            <div class="btn-list dk-flex items-center">
              <Button
                title="+ Ajouter"
                :show-spinner="false"
                class="dk-btn--primary fw-bold mr-2"
                style="min-width: 40px !important"
                @click="
                  showModal = true;
                "
              />
            </div>
            <div class="">
              <input type="text" class="form--input--search" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="t-body">
      <div v-if="isLoading" class="w-full flex items-center justify-center">
        <Spinner
          height="40px"
          width="40px"
          stroke="#000"
          fill="#000"
          class="mr-2"
        />
      </div>
      <CustomTable
        v-else
        :data="courses"
        :columns="columns"
        :class="{ responsive: smallScreen }"
      >
        <template #tHeader="{ col }">
          <div
            class="table-item fs-13 text--variant fw-400 w-100"
            :class="{ hidden: smallScreen }"
          >
            <div class="w-100 text-center">{{ col.title }}</div>
          </div>
        </template>
        <template #default="{ row }">
          <TableRow :class="{ responsive: smallScreen }">
            <TabCelText
              title="picture"
              :class="{ responsive: smallScreen }"
              style="--column-title: 'Picture'"
            >
              <div class="flex content-center justify-center">
                <div>
                  <Avatar
                    style="--avatar-height: 40px; --avatar-width: 40px"
                    :img-path="row.coverImg.location"
                  />
                </div></div
              ></TabCelText>
            <TabCelText
              title="title"
              text-position="center"
              :class="{ responsive: smallScreen }"
              style="--column-title: 'Nom'"
            >{{ row.title }}
            </TabCelText>
            <TabCelText
              title="date de debut"
              text-position="center"
              :class="{ responsive: smallScreen }"
              style="--column-title: 'Prenom'"
            >
              {{ $dayjs(row.startAt).format('DD/MM/YYYY') }}
            </TabCelText>
            <TabCelText
              title="date de fin"
              text-position="center"
              :class="{ responsive: smallScreen }"
              style="--column-title: 'Prenom'"
            >
              {{ $dayjs(row.endAt).format('DD/MM/YYYY') }}
            </TabCelText>
            <TabCelText
              title="creer par"
              text-position="center"
              :class="{ responsive: smallScreen }"
              style="--column-title: 'Prenom'"
            >
              {{ row.createdBy }}
            </TabCelText>

            <TabCelText
              title="Actions"
              text-position="center"
              :class="{ responsive: smallScreen }"
              style="--column-title: 'Actions'"
            >
              <div class="flex justify-center">
                <div
                  class="ml-1 mr-1 cursor-pointer p-2 br-100"
                  @click="editStep({ ...row })"
                >
                  <span class="material-symbols-outlined fs-16"> edit </span>
                </div>
                <div
                  class="ml-1 mr-1 cursor-pointer p-2 br-100"
                  @click="deleteStep({ ...row })"
                >
                  <span class="material-symbols-outlined fs-16"> delete </span>
                </div>
              </div>
            </TabCelText>
          </TableRow>
        </template>
      </CustomTable>
    </div>
    <Modal v-if="showModal" :is-active="showModal" size="full">
      <AddCourse v-show="currentStep===1" @goTo="goToNextStep" @close="showModal=false" />
      <AddStep v-show="currentStep===2" :course-id="courseId" @saveSteps="getCourses" @backTo="currentStep=currentStep-1" @close="showModal=false; currentStep=1" />
      <!--<AddStep @backTo="currentStep=currentStep-1" @close="showModal=false" />-->
    </Modal>
  </div>
</template>

<script>
import AddStep from './addStep.vue'
import AddCourse from './addCourse.vue'
import CustomTable from '@/components/simpleTable'
import TableRow from '@/components/simpleTable/tableRow.vue'
import TabCelText from '@/components/simpleTable/dataTypes/tabCelText.vue'
import Avatar from '@/components/avatar.vue'
import Button from '@/components/button.vue'
import Modal from '@/components/modal'
import Spinner from '@/components/Spinner.vue'

export default {
  name: 'CourseList',
  components: {
    CustomTable,
    TableRow,
    TabCelText,
    Avatar,
    Button,
    Modal,
    Spinner,
    AddStep,
    AddCourse
  },
  layout: 'back/adminTemplate',
  data () {
    return {
      isLoading: true,
      smallScreen: false,
      showModal: false,
      currentStep: 1,
      courses: [],
      columns: [
        {
          key: 'coverImg',
          title: 'Picture'
        },
        {
          key: 'title',
          title: 'Title'
        },
        {
          key: 'startAt',
          title: 'Date de debut'
        },
        {
          key: 'endAt',
          title: 'Date de fin'
        },
        {
          key: 'createdBy',
          title: 'creer par'
        },
        {
          actions: 'action',
          title: 'Actions'
        }
      ],
      courseId: ''
    }
  },
  mounted () {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
    this.getCourses()
  },
  destroyed () {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    async getCourses () {
      this.isLoading = true
      const allCourse = await this.$getCourses()
      this.courses = allCourse.data
      console.log('this.course', this.courses)
      this.isLoading = false
    },
    handleResize () {
      if (window.innerWidth <= 1080) {
        this.smallScreen = true
      } else {
        this.smallScreen = false
      }
    },
    goToNextStep (value) {
      console.log('vvvvv', value)
      this.courseId = value
      this.currentStep = this.currentStep + 1
    },
    editStep (item) {
      console.log('implemeter edit')
    },
    deleteStep (item) {
      console.log('implemeter la supression')
    }
  }
}
</script>

<style lang="scss" scoped>
.course {
  padding: 12px 32px;

  &__inner {
    // display: flex;
    // flex-direction: column;
    // width: 100%;
    // height: 100%;
    // padding: 12px 32px;

    .t-header {
      display: flex;
      justify-content: flex-end;
    }
  }
}
</style>
