<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :width="width"
    :height="height"
    viewBox="0 0 27.971 27.971"
  >
    <g transform="translate(-3.375 -3.375)">
      <path
        :class="color"
        d="M23.757,16.6H18.748V11.588a1.076,1.076,0,1,0-2.152,0V16.6H11.588a1.03,1.03,0,0,0-1.076,1.076,1.041,1.041,0,0,0,1.076,1.076H16.6v5.009a1.042,1.042,0,0,0,1.076,1.076,1.07,1.07,0,0,0,1.076-1.076V18.748h5.009a1.076,1.076,0,1,0,0-2.152Z"
        transform="translate(-0.312 -0.312)"
      />
      <path
        :class="color"
        d="M17.36,5.258A12.1,12.1,0,1,1,8.8,8.8,12.023,12.023,0,0,1,17.36,5.258m0-1.883A13.985,13.985,0,1,0,31.346,17.36,13.983,13.983,0,0,0,17.36,3.375Z"
        transform="translate(0 0)"
      />
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    fill: {
      type: String,
      required: false,
      default: () => 'none'
    },
    stroke: {
      type: String,
      required: false,
      default: () => '#285881'
    },
    strokeWidth: {
      type: String,
      required: false,
      default: () => '2.083px'
    },
    width: { type: String, required: false, default: '27.971' },
    height: { type: String, required: false, default: '20.971' },
    color: {
      type: String,
      require: false,
      default: 'primary',
      validator (val) {
        return ['black', 'primary', 'grey', 'gray', 'white'].includes(val)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.grey {
  fill: #D2D8EB;
}
.gray {
  fill: #D2D8EB;
}
.primary {
  fill: var(--color-primary);
}
.black {
  fill: #000;
}
.white {
  fill: #fff;
}
</style>
