<template>
  <div class="users">
    <div class="content">
      <ValidationObserver v-slot="{ handleSubmit }" slim>
        <form
          ref="form"
          @submit.prevent="handleSubmit(submit)"
          @keypress.enter.prevent="handleSubmit(submit)"
        >
          <header class="fw-600 fs-20">{{ action }}</header>
          <section>
            <div class="h-100">
              <ValidationProvider
                v-slot="{ errors }"
                name="lastName"
                rules="required"
              >
                <div class="mb-[18px]">
                  <label for="lastName">Nom</label>
                  <input
                    v-model="user.lastName"
                    name="lastName"
                    class="form--input mt-[12px]"
                    type="text"
                    :class="{ 'form--input--error': errors[0] }"
                  />
                  <div class="mt-1 text--danger">{{ errors[0] }}</div>
                </div>
              </ValidationProvider>

              <ValidationProvider v-slot="{ errors }" name="firstName" rules="">
                <div class="mb-[18px]">
                  <label for="firstName">Prenom</label>
                  <input
                    v-model="user.firstName"
                    name="firstName"
                    class="form--input mt-[12px]"
                    :class="{ 'form--input--error': errors[0] }"
                    type="text"
                  />
                  <div class="mt-1 text--danger">{{ errors[0] }}</div>
                </div>
              </ValidationProvider>

              <ValidationProvider
                v-slot="{ errors }"
                name="email"
                rules="required|email"
              >
                <div class="mb-[18px]">
                  <label for="email">Email</label>
                  <input
                    v-model="user.email"
                    name="email"
                    autocomplete="false"
                    class="form--input mt-[12px]"
                    type="text"
                    :class="{ 'form--input--error': errors[0] }"
                  />
                  <div class="mt-1 text--danger">{{ errors[0] }}</div>
                </div>
              </ValidationProvider>

              <ValidationProvider
                v-slot="{ errors }"
                name="password"
                rules="required"
              >
                <div class="mb-[18px]">
                  <label for="password">Mot de passe</label>
                  <input
                    v-model="user.password"
                    name="password"
                    :readonly="makeRequest !== 'add'"
                    class="form--input mt-[12px]"
                    :class="{ 'form--input--error': errors[0] }"
                    type="password"
                  />
                  <div class="mt-1 text--danger">{{ errors[0] }}</div>
                </div>
              </ValidationProvider>

              <ValidationProvider v-slot="{ errors }" name="role" rules="">
                <div class="mb-[18px]">
                  <label for="role">Role</label>
                  <select v-model="user.role" name="role" class="form--select mt-[12px]">
                    <option :value="''" selected disabled hidden>
                      Select role
                    </option>
                    <option
                      v-for="role in roles"
                      :key="role._id"
                      :value="role._id"
                    >
                      {{ role.title }}
                    </option>
                  </select>
                  <div class="mt-1 text--danger">{{ errors[0] }}</div>
                </div>
              </ValidationProvider>

              <ValidationProvider v-slot="{ errors }" name="telephone" rules="">
                <div>
                  <label for="telephone">Telephone</label>
                  <input
                    v-model="user.telephone"
                    name="telephone"
                    class="form--input mt-[12px]"
                    type="tel"
                  />
                  <div class="mt-1 text--danger">{{ errors[0] }}</div>
                </div>
              </ValidationProvider>

              <ValidationProvider v-slot="{ errors }" name="country" rules="">
                <div>
                  <label for="country">Pays</label>
                  <input
                    v-model="user.country"
                    name="country"
                    class="form--input mt-[12px]"
                    type="text"
                  />
                  <div class="mt-1 text--danger">{{ errors[0] }}</div>
                </div>
              </ValidationProvider>

              <div><input ref="file" name="avatar" type="file" @change="show" /></div>
            </div>
          </section>
          <footer class="flex items-center justify-end">
            <Button
              title="Save"
              :show-spinner="savingData"
              class="dk-btn--primary mr-[12px] dk-flex items-center"
            />
            <Button
              title="Close"
              class="dk-btn--black__outline"
              @click="$emit('close')"
            />
          </footer>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>
<script>
import Button from '@/components/button.vue'
export default {
  components: {
    Button
  },
  props: {
    action: { type: String, required: true, default: 'Add user' },
    editUser: { type: Object, required: false, default: () => ({}) }
  },
  data () {
    return {
      savingData: false,
      user: {},
      roles: [],
      makeRequest: 'add'
    }
  },
  mounted () {
    this.user = this.editUser
    this.getRoles()
    if (!this.$isEmptyObject(this.editUser)) {
      this.makeRequest = 'update'
    }
  },
  methods: {
    show () {
      console.log('this.$refs.file', this.$refs.file.files[0].name)
    },
    async getRoles () {
      const r = await this.$getRoles()
      this.roles = r
      console.log('this.role', this.roles)
      // .then(response => (this.roles = response.data))
    },

    async submit () {
      if (this.makeRequest === 'add') {
        try {
          this.savingData = true
          await this.$addUser(new FormData(this.$refs.form))
          this.$notify({
            message: `Utilisateur ${this.user.firstName} ${this.user.lastName} est bien enrégistré.`
          })
          this.$emit('refreshList')
          this.savingData = false
        } catch (err) {
          this.$notify({ type: 'error', message: err.response.data.message })
          this.savingData = false
        }
      } else {
        try {
          this.savingData = true
          delete this.user.createdAt
          delete this.user.__v
          await this.$updateUser(new FormData(this.$refs.form), this.user._id)
          this.$notify({
            message: `Utilisateur ${this.user.firstName} ${this.user.lastName} a été modifié.`
          })
          this.$emit('refreshList')
          this.savingData = false
        } catch (err) {
          this.$notify({ type: 'error', message: err.response.data.message })
          this.savingData = false
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.users {
  height: 100vh;
  .content {
    height: 100%;

    form {
      height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;

      header {
        padding: 30px;
        border-bottom: 1px solid var(--color-light);
      }

      section {
        overflow: auto;
        padding: 25px 40px 10px;
      }

      footer {
        padding: 16px 30px 16px;
        border-top: 1px solid var(--color-light);
      }
    }
  }
}
</style>
