<template>
  <div class="user-list">
    <!-- <div class="bread-crum" style="padding: 12px 32px">toto * tata * lili</div> -->
    <div class="user-list__inner">
      <div class="t-header">
        <div>
          <div class="flex items-center">
            <div class="btn-list dk-flex items-center">
              <Button
                title="+"
                :show-spinner="false"
                class="dk-btn--primary fw-bold mr-2"
                style="min-width: 40px !important"
                @click="
                  showModal = true;
                  makeAction = 'Add user';
                "
              />
              <Button
                title="import"
                :show-spinner="false"
                icon="fa-regular fa-file-excel"
                class="dk-btn--success mr-2"
              />
              <Button
                title="export"
                :show-spinner="false"
                icon="fa-solid fa-file-export"
                class="dk-btn--primary__outline mr-2"
              />
            </div>
            <div class="">
              <input type="text" class="form--input--search" />
            </div>
          </div>
        </div>
      </div>
      <div class="t-body h-full">
        <div v-if="isLoading" class="h-full w-full flex items-center justify-center">
          <Spinner
            height="40px"
            width="40px"
            stroke="#000"
            fill="#000"
            class="mr-2"
          />
        </div>

        <CustomTable
          v-else
          :data="users"
          :columns="columns"
          :class="{ responsive: smallScreen }"
        >
          <template #tHeader="{ col }">
            <div
              class="table-item fs-13 text--variant fw-400 w-100"
              :class="{ hidden: smallScreen }"
            >
              <div class="w-100 text-center">{{ col.title }}</div>
            </div>
          </template>
          <template #default="{ row }">
            <TableRow :class="{ responsive: smallScreen }">
              <TabCelText
                title="picture"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'Picture'"
              >
                <div class="flex content-center justify-center">
                  <div>
                    <Avatar
                      style="--avatar-height: 40px; --avatar-width: 40px"
                      :img-path="row.avatar"
                    />
                  </div></div
                ></TabCelText>
              <TabCelText
                title="Name"
                text-position="center"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'Nom'"
              >{{ row.lastName }}
              </TabCelText>
              <TabCelText
                title="Prenom"
                text-position="center"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'Prenom'"
              >
                {{ row.firstName }}
              </TabCelText>
              <TabCelText
                title="Email"
                text-position="center"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'Email'"
              >
                {{ row.email }}
              </TabCelText>
              <TabCelText
                title="Telephone"
                text-position="center"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'Telephone'"
              >{{ row.telephone }}
              </TabCelText>
              <TabCelText
                title="Role"
                text-position="center"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'Role'"
              >{{ row.role ? row.role.title : null }}
              </TabCelText>
              <TabCelText
                title="Actions"
                text-position="center"
                :class="{ responsive: smallScreen }"
                style="--column-title: 'Actions'"
              >
                <div class="flex justify-center">
                  <div
                    class="ml-1 mr-1 cursor-pointer p-2 br-100"
                    @click="editUser({ ...row })"
                  >
                    <span class="material-symbols-outlined fs-16"> edit </span>
                  </div>
                  <!-- <div class="ml-1 mr-1 cursor-pointer p-2 br-100">
                    <span class="material-symbols-outlined fs-16">
                      content_copy
                    </span>
                  </div> -->
                  <div
                    class="ml-1 mr-1 cursor-pointer p-2 br-100"
                    @click="deleteUser({ ...row })"
                  >
                    <span class="material-symbols-outlined fs-16">
                      delete
                    </span>
                  </div>
                </div>
              </TabCelText>
            </TableRow>
          </template>
        </CustomTable>
      </div>
    </div>
    <Modal v-if="showModal" :is-active="showModal" position="right" size="sm">
      <AddOrEditUser
        :edit-user="userToEdit"
        :action="makeAction"
        @close="
          showModal = false;
          userToEdit = {};
        "
        @refreshList="refreshList"
      />
    </Modal>
  </div>
</template>

<script>
import AddOrEditUser from './addOrEditUser.vue'
import CustomTable from '@/components/simpleTable'
import TableRow from '@/components/simpleTable/tableRow.vue'
import TabCelText from '@/components/simpleTable/dataTypes/tabCelText.vue'
import Avatar from '@/components/avatar.vue'
import Button from '@/components/button.vue'
import Modal from '@/components/modal'
import Spinner from '@/components/Spinner.vue'

export default {
  name: 'UsersListe',
  components: {
    CustomTable,
    TableRow,
    TabCelText,
    Avatar,
    Button,
    Modal,
    AddOrEditUser,
    Spinner
  },
  layout: 'back/adminTemplate',
  data () {
    return {
      smallScreen: false,
      users: [],
      userToEdit: {},
      columns: [
        {
          key: 'avatar',
          title: 'Picture'
        },
        {
          key: 'lastName',
          title: 'Nom'
        },
        {
          key: 'firstName',
          title: 'Prenom'
        },
        {
          key: 'email',
          title: 'Email'
        },
        {
          key: 'telephone',
          title: 'Telephone'
        },
        {
          key: 'role',
          title: 'Role'
        },
        {
          actions: 'action',
          title: 'Actions'
        }
      ],
      showModal: false,
      makeAction: 'Add user',
      isLoading: true
    }
  },
  mounted () {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
    this.getUserList()
  },
  destroyed () {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    async getUserList () {
      this.isLoading = true
      const usersList = await this.$getUsers()
      this.users = usersList.data
      console.log('this.users', this.users)
      this.isLoading = false
    },
    handleResize () {
      if (window.innerWidth <= 1080) {
        this.smallScreen = true
      } else {
        this.smallScreen = false
      }
    },
    editUser (user) {
      this.userToEdit = user
      this.showModal = true
    },
    async deleteUser (user) {
      try {
        await this.$deleteUser({ _id: user._id })
        await this.getUserList()
        this.$notify({
          message: `l'utilisateur ${user.firstName} ${user.lastName} à été supprimé.`
        })
      } catch (err) {
        console.log('error', err)
      }
    },
    refreshList () {
      this.getUserList()
      this.showModal = false
    }
  }
}
</script>

<style lang="scss" scoped>
.user-list {
  flex-grow: 1;

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 12px 32px;

    .t-header {
      display: flex;
      justify-content: flex-end;
    }
  }
}
</style>
