main {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  color: var(--color-dark);
  user-select: none;
  overflow: hidden;

  a {
    color: var(--color-dark);
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  small {
    font-size: 0.75rem;
  }

  .profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow-x: hidden;
  }

  p {
    color: var(--color-dark-variant);
  }

  b {
    color: var(--color-dark);
  }

  .dk-container {
    display: grid;
    width: 100%;
    // margin: 0 auto;
    // gap: 1.8rem;
    grid-template-columns: 14rem auto;

    @media screen and (max-width:768px) {
      display: block;
    }
  }



  .p-section {
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: auto;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .8rem 2rem;
      box-shadow: 1px 1px 1px var(--color-light);

      .menu-bar {
        display: none;
        cursor: pointer;
        padding: 0 .5rem;
        @media screen and (max-width:768px) {
          display: inline;
        }
      }

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .top {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 2rem;

          button {
            display: none;
          }

          .theme-toggler {
            background-color: var(--color-light);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 1.6rem;
            width: 4.2rem;
            cursor: pointer;
            border-radius: var(--border-radiud-1);

            span {
              font-size: 1.2rem;
              width: 50%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              &.active {
                background: var(--color-primary);
                color: white;
                border-radius: var(--border-radiud-1);
              }
            }
          }

          .profile {
            display: flex;
            align-items: center;
            gap: 2rem;
            text-align: right;
          }
        }
      }
    }



  }





}