<template>
  <main class="body">
    <div class="dk-container">
      <Navigation v-if="activeMenu" @closeMenu="activeMenu = false" />

      <section class="p-section">
        <div class="p-section__inner">
          <!-- <button id="menu-btn">

          </button> -->
          <span class="material-symbols-outlined menu-bar" @click="showMenu"> menu </span>
          <slot name="p-header">
            <header>
              <h1>{{ $store.getters.getCurrentPage }}</h1>
              <div class="top">
                <div class="theme-toggler" @click="toggleTheme">
                  <span
                    class="material-symbols-outlined"
                    :class="{ active: activeToggle }"
                  >
                    light_mode
                  </span>
                  <span
                    class="material-symbols-outlined"
                    :class="{ active: !activeToggle }"
                  >
                    dark_mode
                  </span>
                </div>
                <div class="profile">
                  <div class="info">
                    <div>Hey, <b>Daniel</b></div>
                    <small class="text-muted">Admin</small>
                  </div>
                  <div class="profile-photo" @click="logOut">
                    <img src="/profil.jpg" alt="" />
                  </div>
                </div>
              </div>
            </header>
          </slot>
        </div>

        <nuxt />
      </section>
    </div>
  </main>
</template>

<script>
import Navigation from './navigation.vue'
export default {
  name: 'Admin',
  components: { Navigation },
  // middleware: ['auth'],
  data () {
    return {
      activeToggle: true,
      activeMenu: false
    }
  },
  mounted () {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
    // console.log('store value', this.$store.state.authenticated)
  },
  destroyed () {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    handleResize () {
      window.innerWidth > 768 ? this.activeMenu = true : this.activeMenu = false
    },
    toggleTheme () {
      this.activeToggle = !this.activeToggle
      document.body.classList.toggle('dark-theme-variable')
    },
    showMenu () {
      this.activeMenu = true
    },
    hideMenu () {
      this.activeMenu = false
    },
    logOut () {
      localStorage.clear()
      this.$router.push({ name: 'auth', params: { selectedPage: 'signin' } })
      // console.log('this.$auth', this.$auth)
      // this.$auth.logOut()
    }
  }
}
</script>

<style lang="scss" scoped>
@import "./adminTemplate";
</style>
