<template>
  <div class="auth-layout">
    <div class="left" style="padding:20px">
      <div style="margin:20px">picture</div>
    </div>
    <div class="right">
      <nuxt />
    </div>
  </div>
</template>

<script>
export default {
  name: 'AdminAuth'
}
</script>

<style lang="scss" scoped>
.auth-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .left {
    background-color: var(--color-light);
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;

    .res-el ::v-deep .v-application--wrap {
      min-height: auto;
    }
  }
}
</style>
