<template>
  <nav>
    <div class="top">
      <div class="logo">
        <img src="/logo.png" alt="" />
        <h2>EGA<span class="dabger">TOR</span></h2>
      </div>
      <div id="close-btn" class="close">
        <span class="material-symbols-outlined" @click="hideMenu"> close </span>
      </div>
    </div>
    <div class="sidebar">
      <div class="h-100">
        <div
          v-for="(menu, i) in menus"
          :key="i"
          class="menu-item"
          :class="{ active: activeMenu === menu.routeName }"
          @click="
            activeMenu = menu.routeName;
            $store.dispatch('SET_CURRENT_PAGE', menu.title);
            $router.push({ name: menu.routeName });
          "
        >
          <span class="material-symbols-outlined">{{ menu.icon }}</span>
          <h3>{{ menu.title }}</h3>
        </div>
      </div>
      <div class="logout" @click.prevent="logOut">
        <span class="material-symbols-outlined">logout</span>
        <h3>LOgout</h3>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Menu',
  data () {
    return {
      activeMenu: undefined,
      menus: [
        {
          title: 'Dashboard',
          routeName: 'admin-dashboard',
          icon: 'dashboard'
        },
        {
          title: 'Users',
          routeName: 'users',
          icon: 'person_outline'
        },
        {
          title: 'Parcours',
          routeName: 'course',
          icon: 'directions_walk'
        },
        {
          title: 'Services',
          routeName: 'services',
          icon: 'directions_walk'
        }
      ]
    }
  },
  watch: {
    '$route.path': {
      immediate: true,
      handler () {
        if (this.$route.name === 'users') {
          this.activeMenu = 'users'
        } else if (this.$route.name === 'admin-dashboard') {
          this.activeMenu = 'admin-dashboard'
        } else if (this.$route.name === 'course') {
          this.activeMenu = 'course'
        } else if (this.$route.name === 'services') {
          this.activeMenu = 'services'
        } else if (this.$route.name === 'user-role') {
          this.activeMenu = 'user-role'
        } else {
          this.activeMenu = 'oops'
        }
      }
    }
  },
  methods: {
    navigateTo (value) {
      this.$router.push({ name: value })
    },
    hideMenu () {
      this.$emit('closeMenu')
    },
    logOut () {
      localStorage.clear()
      this.$router.push({ name: 'auth', params: { selectedPage: 'signin' } })
    }
  }
}
</script>

<style lang="scss" scoped>
nav {
  height: 100vh;
  background-color: var(--color-nav-bgc);
  overflow-y: auto;

  .close {
    display: none;

    @media screen and (max-width: 768px) {
      display: inline;
      cursor: pointer;
    }
  }

  h3 {
    font-weight: 500;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
  }

  .logo {
    display: flex;
    gap: 0.8rem;

    @media screen and (max-width: 768px) {
      margin-left: 1rem;
    }

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    // height: 86vh;
    // top: 3rem;

    .menu-item,
    .logout {
      display: flex;
      color: var(--color-info-dark);
      margin-left: 2rem;
      gap: 1rem;
      align-items: center;
      position: relative;
      height: 3.7rem;
      transition: all 300ms ease;
      cursor: pointer;

      span {
        font-size: 1.6rem;
        transition: all 300ms ease;
      }

      // &:last-child {
      //   position: absolute;
      //   bottom: 2rem;
      //   width: 100%;

      //   @media screen and (max-width: 768px) {
      //     position: absolute;
      //     bottom: 5rem;
      //   }
      // }

      &.active {
        background: var(--color-light);
        color: var(--color-primary);
        margin-left: 0;

        &::before {
          content: "";
          width: 6px;
          height: 100%;
          background: var(--color-primary);
        }

        span {
          color: var(--color-primary);
          margin-left: calc(1rem - 3px);
        }
      }

      &:hover {
        color: var(--color-primary);

        span {
          margin-left: 1rem;
        }
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        height: 3.4rem;
      }
    }

    .logout {
    }

    .message-count {
      background: var(--color-danger);
      color: var(--color-white);
      padding: 2px 10px;
      font-size: 11px;
      border-radius: var(--border-radiud-1);
    }
  }

  @media screen and (max-width: 768px) {
    position: fixed;
    left: -110%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--car-padding);
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }
}
</style>
