.p-{
    &t1{
        padding-top: 1px;
    }
    &b1{
        padding-bottom: 1px;
    }
    &t2{
        padding-top: 2px;
    }
    &b2{
        padding-bottom: 2px;
    }
    &t3{
        padding-top: 3px;
    }
    &b3{
        padding-bottom: 3px;
    }
}

.m-{
    &t1{
        margin-top: 1px;
    }
    &b1{
        margin-bottom: 1px;
    }
    &t2{
        margin-top: 2px;
    }
    &b2{
        margin-bottom: 2px;
    }
    &t3{
        margin-top: 3px;
    }
    &b3{
        margin-bottom: 3px;
    }
}