h1 {
  font-size: 1.8rem;
  font-weight: 800;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

// .typo {
//   &--l1 {
//     font-weight: 600;
//     font-size: rem(28, 16);
//   }
//   &--l2 {
//     font-weight: 500;
//     font-size: rem(25);
//   }
//   &--l3 {
//     //
//     font-size: rem(22, 16);
//   }
//   &--l4 {
//     //
//     font-size: rem(19, 16);
//   }
//   &--l5 {
//     font-size: rem(16, 16);
//   }
//   &--l6 {
//   }

//   &--text {
//     &--normal {
//       //
//     }
//     &--sm {
//       font-size: rem(12, 16);
//     }
//     &--xs {
//       //
//     }
//   }
// }

// .typo {
//   &--f0 {
//     //la taille ne varie pas quelque soit le type d'ecran
//     font-size: rem(16);
//   }
//   &--f1 {
//     //25
//     font-size: rem(20);

//     &x2{
//       font-size: rem(25);
//     }

//     // @media screen and (max-width: 1680px) {
//     //   font-size: rem(20);
//     // }

//     // @media screen and (max-width: 1366px) {
//     //   font-size: rem(20);
//     // }

//     // @media screen and (max-width: 1280px) {
//     //   font-size: rem(19);
//     // }
//   }
//   &--f2 {
//     font-size: rem(18);

//     // @media screen and (max-width: 1680px) {
//     //   font-size: rem(16);
//     // }

//     // @media screen and (max-width: 1366px) {
//     //   font-size: rem(16);
//     // }

//     // @media screen and (max-width: 1280px) {
//     //   //font-size: rem(14);
//     // }
//   }
//   &--f3 {
//     //18
//     font-size: rem(17);

//     // @media screen and (max-width: 1680px) {
//     //   font-size: rem(14);
//     // }

//     // @media screen and (max-width: 1366px) {
//     //   font-size: rem(14);
//     // }

//     // @media screen and (max-width: 1280px) {
//     //   font-size: rem(12);
//     // }
//   }
//   &--f4 {
//     //16
//     font-size: rem(16);

//     // @media screen and (max-width: 1680px) {
//     //   font-size: rem(14);
//     // }

//     // @media screen and (max-width: 1366px) {
//     //   font-size: rem(14);
//     // }

//     // @media screen and (max-width: 1280px) {
//     //   font-size: rem(14);
//     // }
//   }
//   &--b1 {
//     //35
//     font-size: rem(30);

//     // @media screen and (max-width: 1680px) {
//     //   font-size: rem(30);
//     // }

//     // @media screen and (max-width: 1366px) {
//     //   font-size: rem(30);
//     // }

//     // @media screen and (max-width: 1280px) {
//     //   font-size: rem(25);
//     // }
//   }
// }