<template>
  <div class="sing-in max-w-[450px]">
    <div class="logo"><img src="/logo.png" alt="" /></div>
    <h1 class="py-[16px] text-center text-[30px] font-medium">
      Tourism en afrique
    </h1>

    <div class="sub-title pb-[32px] text-center">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste,
      perspiciatis.
    </div>
    <ValidationObserver v-slot="{ handleSubmit }" slim>
      <form
        @submit.prevent="handleSubmit(submit)"
        @keypress.enter.prevent="handleSubmit(submit)"
      >
        <ValidationProvider
          v-slot="{ errors }"
          name="email"
          rules="required|email"
        >
          <div>
            <input v-model="email" class="form--input" type="text" />
            <div class="mt-1 text--danger">{{ errors[0] }}</div>
          </div>
        </ValidationProvider>
        <ValidationProvider
          v-slot="{ errors }"
          name="password"
          rules="required"
        >
          <div class="mt-[20px]">
            <input v-model="password" class="form--input" type="password" />
            <div class="mt-1 text--danger">{{ errors[0] }}</div>
          </div>
        </ValidationProvider>
        <div class="actions">
          <Button
            title="Login"
            :show-spinner="savingData"
            class="dk-btn--black"
          />
          <div class="network-auth">
            <Button title="Gmail" class="dk-btn--danger" @click.prevent="" />
            <Button title="Facebook" class="dk-btn--blue" @click.prevent="" />
            <!-- <button class="dk-btn--danger">Gmail</button>
            <button class="dk-btn--blue--light">Facebook</button> -->
          </div>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import Button from '@/components/button.vue'

export default {
  components: {
    Button
  },
  data () {
    return {
      email: '',
      password: '',
      savingData: false
    }
  },
  methods: {
    async submit () {
      this.savingData = true
      try {
        const token = await this.$auth.loginWith('local', {
          data: {
            email: this.email,
            password: this.password
          }
        })
        if (token) {
          this.$store.dispatch('IS_USER_AUTHENTICARED', true)
          this.$notify({ message: 'Authentification réussie' })
          this.$router.push({ name: 'admin-dashboard', params: { locale: this.$locale } })
        }
        this.savingData = false
      } catch (error) {
        this.$notify({ type: 'error', message: error.response.data.message })
        this.savingData = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.sing-in {
  min-width: 350px;
  padding: 20px;

  .logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #8d6e63;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;

    img {
      width: 100%;
      overflow: hidden;
    }
  }

  .forget-pwd {
    text-align: end;
    margin: -8px 0 35px;
    text-decoration: underline;
    font-size: 14px;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
    .network-auth {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }
  }
}
</style>
