<template>
  <div class="user-auth">
    <Resigter v-if="currentPage === 'signup'" />
    <ResetPassword v-else-if="currentPage === 'resetPwd'" />
    <SingIn v-else />
  </div>
</template>

<script>
import ResetPassword from './ResetPassword.vue'
import Resigter from './Resigter.vue'
import SingIn from './SingIn.vue'
export default {
  components: { SingIn, Resigter, ResetPassword },
  layout: 'back/adminAuth',
  data () {
    return {
      currentPage: ''
    }
  },
  watch: {
    '$route.params.selectedPage': {
      immediate: true,
      handler (value) {
        switch (value) {
          case 'signin':
            this.currentPage = 'signin'
            break
          case 'signup':
            this.currentPage = 'signup'
            break
          case 'resetPwd':
            this.currentPage = 'resetPwd'
            break
        }
      }
    }
  },
  mounted () {
    const codeLangue = navigator.language.split('-')[0]
    if (['fr', 'en'].includes(codeLangue)) {
      this.$store.dispatch('SET_LOCALE', codeLangue)
    } else {
      this.$store.dispatch('SET_LOCALE', 'fr')
    }
  }
}
</script>
