<template>
  <button class="flex items-center" :class="`${localBgColor} ${btnClass}`" @click.stop="emitClick">
    <div class="mr-2">{{ label }}</div>
    <div v-if="props.deleteIcon" class="relative mx-[6px]">
      <div class="delete pl-1 pr-1 cursor-pointer" @click="$emit('delete')">+</div>
    </div>
  </button>
</template>

<script>
export default {
  props: {
    label: { type: String, required: true },
    deleteIcon: { type: Boolean, required: false, default: false },
    bgColor: {
      type: String,
      required: false,
      default: 'grey',
      validator (val) {
        return [
          'grey',
          'blue-grey',
          'blue',
          'warning',
          'danger',
          'light-danger',
          'pink',
          'green',
          'light-green'
        ].includes(val)
      }
    },
    btnClass: { type: String, required: false, default: '' }
  },

  data () {
    return {
      localBgColor: 'grey'
    }
  },

  mounted () {
    if (props.bgColor === 'grey') {
      localBgColor.value = 'grey'
    } else if (props.bgColor === 'blue-grey') {
      localBgColor.value = 'blue-grey'
    } else if (props.bgColor === 'green') {
      localBgColor.value = 'green'
    } else if (props.bgColor === 'light-green') {
      localBgColor.value = 'light-green'
    } else if (props.bgColor === 'danger') {
      localBgColor.value = 'danger'
    } else if (props.bgColor === 'light-danger') {
      localBgColor.value = 'light-danger'
    }
  },
  methods: {
    emitClick () {
      this.$emit('click')
    }
  }
}
</script>

<style lang="scss" scoped>
button {
  padding: rem(5, 16) rem(10, 16);
  border-radius: rem(5, 16);
  font-size: rem(12, 16);
  outline: none !important;
  min-width: rem(58, 16);
  text-align: center;
  border: none;
  color: var(--color-black);
  cursor: default;

  &.grey {
    background-color: #C7C7C7;
  }

  &.blue-grey {
    background-color: var(--color-primary-variant);
  }

  &.green {
    background-color: var(--color-success-light);
  }

  &.light-green {
    background-color: #B7EDD1;
  }

  &.danger {
    background-color: var(--color-danger-light);
    color: white;
  }

  &.light-danger {
    background-color: var(--color-danger-dark);
    color: white;
  }

  .delete {
    position: absolute;
    top: -23px;
    bottom: 0;
    left: -5px;
    transform: rotate(47deg);
    font-size: 28px;
    width: 12px;
  }
}
</style>
