<template>
  <div class="avatar">
    <img :src="imgPath" alt="avatar" />
  </div>
</template>

<script>
export default {
  props: {
    imgPath: { type: String, required: true, default: '' }
  }
}
</script>

<style scoped lang="scss">
.avatar {
  height: var(--avatar-height);
  width: var(--avatar-width);
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--color-dark);
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>
