<template>
  <button class="dk-flex items-center justify-center" @click="$emit('click', $event)">
    <spinner
      v-if="showSpinner"
      height="15px"
      stroke="#fff"
      fill="#fff"
      class="mr-2"
    />
    <i v-if="icon" class="pr-2" :class="icon"></i>
    <span>{{ title }}</span>
  </button>
</template>

<script>
export default {
  props: {
    title: { type: String, required: true },
    showSpinner: { type: Boolean, required: false, default: false },
    icon: { type: String, required: false, default: '' }
  }
}
</script>

<style lang="scss" scoped>
.dk-btn {
  padding: 16px;
  border-radius: 5px;
  font-size: 14px;
  outline: none !important;
  min-width: 120px; // -30
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &--sm {
    @extend .dk-btn;
    min-width: 81px;
    padding: 5px 16px;

    @media screen and (max-width: 1680px) {
      padding: 5px 10px;
      min-width: 71px;
    }
    border-radius: 3px;

    &--info {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: var(--app-secondary-color);
      border: 1px solid var(--app-secondary-color);
      color: var(--color-white);
    }

    &--success {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: var(--color-success);
      border: 1px solid var(--color-success);
      color: var(--color-white);
    }

    &--purple {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: #6e36da;
      border: 1px solid #6e36da;
      color: var(--color-white);
    }

    &--dark-green {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: #1f9d8a;
      border: 1px solid #1f9d8a;
      color: var(--color-white);
    }

    &--success-dark {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: #2e9615;
      border: 1px solid #2e9615;
      color: var(--color-white);
    }

    &--warning {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: var(--color-warning);
      border: 1px solid var(--color-warning);
      color: var(--color-white);
    }

    &--grey {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: #d2d8eb;
      border: 1px solid #d2d8eb;
      color: var(--color-dark);
    }

    &--dark-grey {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: var(--color-dark);
      border: 1px solid var(--color-dark);
      color: var(--color-white);
    }

    &--pink {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: #ff2478;
      border: 1px solid #ff2478;
      color: var(--color-white);
    }

    &--orange {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: #e8541d;
      border: 1px solid #e8541d;
      color: var(--color-white);
    }

    &--blue {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: #2c77ff;
      border: 1px solid #2c77ff;
      color: var(--color-white);
    }

    &--blue-dark {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: #2c77ff;
      border: 1px solid #2c77ff;
      color: var(--color-white);
    }

    &--danger {
      @extend .dk-btn;
      @extend .dk-btn--sm;
      background-color: red;
      border: 1px solid red;
      color: var(--color-white);
    }
  }

  &--secondary {
    @extend .dk-btn;
    background-color: var(--app-secondary-color);
    // color: var(--app-secondary-color);
    color: var(--color-white);
    border: none;

    @media (hover: hover) {
      &:hover {
        background-color: var(--app-secondary-color);
        color: var(--color-white);
        text-decoration: none;
      }
    }

    &__outline {
      @extend .dk-btn;
      background-color: var(--color-white);
      color: var(--app-secondary-color);
      border-color: var(--app-secondary-color);
      text-decoration: none;

      @media (hover: hover) {
        &:hover {
          background-color: var(--app-secondary-color);
          color: var(--color-white);
          text-decoration: none;
        }
      }
    }
  }

  &--primary {
    @extend .dk-btn;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary);
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
        text-decoration: none;
      }
    }

    &__outline {
      @extend .dk-btn;
      background-color: var(--color-white);
      color: var(--color-primary);
      border-color: var(--color-primary);
      text-decoration: none;

      @media (hover: hover) {
        &:hover {
          background-color: var(--color-primary);
          color: var(--color-white);
          text-decoration: none;
        }
      }
    }
  }

  &--success {
    @extend .dk-btn;
    background-color: var(--color-success);
    color: var(--color-white);
    border-color: var(--color-success);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-success);
        color: var(--color-white);
        border-color: var(--color-success);
      }
    }
  }

  &--blue {
    @extend .dk-btn;
    background-color: var(--color-primary-variant);
    color: var(--color-white);
    border-color: var(--color-primary-variant);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-primary-variant);
        color: var(--color-white);
        border-color: var(--color-primary-variant);
      }
    }
  }

  &--danger {
    @extend .dk-btn;
    background-color: var(--color-danger);
    color: var(--color-white);
    border-color: var(--color-danger);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-danger);
        color: var(--color-white);
        border-color: var(--color-danger);
      }
    }
  }

  &--warning {
    @extend .dk-btn;
    background-color: var(--color-warning);
    color: var(--color-white);
    border-color: var(--color-warning);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-warning);
        color: var(--color-white);
        border-color: var(--color-warning);
      }
    }
  }

  &--black {
    @extend .dk-btn;
    background-color: var(--color-dark);
    color: var(--color-white);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-dark);
        color: var(--color-white);
      }
    }

    &__outline {
      @extend .dk-btn;
      background-color: var(--color-white);
      color: var(--color-dark);
      border-color: var(--color-dark);
    }
  }

  &--empty {
    @extend .dk-btn;
    background-color: transparent;
    color: var(--color-dark);

    &:hover {
      background-color: transparent;
      color: var(--color-dark);
    }

    &__borderless {
      @extend .dk-btn;
      background-color: transparent;
      color: var(--color-dark);
      border-width: 0;
    }
  }
}
</style>
