<template>

  <div class="cms" :class="{ theme, disabled: readonly }" @click.stop="">
    <div
      v-for="(v, index) in seleted"
      :key="index"
      class="item"
      :class="{ disabled: readonly }"
    >
      <span class="pr-3"> {{ v.title }} </span>
      <i
        class="fas fa-times cursor-pointer"
        :class="{ disabled: readonly }"
        @click="!readonly ? unSelected(index, v) : ''"
      ></i>
    </div>
    <span
      v-show="!readonly"
      class="cursor-pointer"
      :class="{ disabled: readonly }"
      @click="!readonly ? (showOptions = true) : ''"
    ><AddIcon :color="theme"
    /></span>

    <ul v-if="showOptions" class="cms__optoins" @mouseleave="closeDropdown()">
      <li
        v-for="(el, index) in options"
        :key="index"
        @click="isSelected(index, el)"
      >
        {{ el.title }}
      </li>
    </ul>
  </div>

</template>

<script>
import AddIcon from '@/components/icons/AddIcon.vue'

export default {
  components: {
    AddIcon
  },
  props: {
    data: { type: Array, required: false, default: () => [] },
    value: { type: Array, required: false, default: () => [] },
    theme: {
      type: String,
      required: false,
      default: () => 'primary'
    },
    readonly: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  data () {
    return {
      showOptions: false,
      seleted: []
    }
  },
  computed: {
    options () {
      // console.log('options change')
      // const codes = this.seleted.map(val => val.code)
      const ids = this.seleted.map(val => val._id)
      // console.log('ids', ids)
      return this.data.filter((item) => {
        // if (codes && codes.length) {
        //   console.log('enter code')
        //   return !codes.includes(item.code)
        // } else
        if (ids.length) {
          return !ids.includes(item._id)
        } else {
          console.log('enter true option')
          return true
        }
      })
    }
  },
  watch: {
    value: {
      immediate: true,
      deep: true,
      handler (val) {
        // const codes = val.map(val => val.code)
        const ids = val.map(val => val._id)
        this.seleted = this.data.filter((item) => {
          // if (codes.length) {
          //   return codes.includes(item.code)
          // } else
          if (ids.length) {
            return ids.includes(item._id)
          }
          return null
        })
      }
    }
  },
  mounted () {
    document.addEventListener('click', this.closeDropdown)
  },

  beforeDestroy () {
    document.removeEventListener('click', this.closeDropdown)
  },
  methods: {
    closeDropdown () {
      this.showOptions = false
    },
    isSelected (i, v) {
      this.seleted.push(v)
      this.$emit('input', this.seleted)
      this.$emit('change', this.seleted)
      this.options.splice(i, 1)
    },
    unSelected (i, v) {
      this.options.push(v)
      this.seleted.splice(i, 1)
      this.$emit('input', this.seleted)
      this.$emit('change', this.seleted)
    }
  }
}
</script>

<style lang="scss" scoped>
.cms {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  min-height: 50px;
  padding: 3px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &.disabled {
    border-color: #656f80;
    background-color: #d2d8eb !important;
  }

  // &.gray,
  // &.grey {
  //   border-color: #656f80;
  //   background-color: #d2d8eb;
  // }

  & .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    margin: 3px;
    padding: 3px 8px;

    &.disabled {
      border: 1px solid #656f80;
    }

    & i {
      color: #d2d8eb;

      &.disabled {
        color: #656f80 !important;
      }
    }
  }

  &__optoins {
    position: absolute;
    top: 53px;
    z-index: 1;
    width: 100%;
    min-height: 150px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #d2d8eb;
    & li {
      cursor: pointer;
      padding: 5px 12px;
      &:hover {
        background-color: #d2d8eb;
      }
    }
  }
}
</style>
