<template>
  <DatePicker
    v-model="date"
    value-type="format"
    format="YYYY-MM-DD"
    class="change-sth"
    :class="hasError"
    @input="selected"
  />
</template>

<script>
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'

export default {
  name: 'Custumdatepiker',
  components: {
    DatePicker
  },
  props: {
    hasError: { type: String, required: false, default: '' },
    previewDate: { type: String, required: false, default: '' },
    clearData: { type: Boolean, required: false, default: false }
  },
  data () {
    return {
      date: ''
    }
  },
  watch: {
    clearData () {
      this.date = ''
    },
    previewDate () {
      this.date = this.previewDate
    }
  },
  methods: {
    selected (val) {
      this.$emit('selectedDate', val)
    }
  }
}
</script>

<style lang="scss" scoped>
.change-sth {
  &::v-deep.mx-datepicker {
    width: 100%;
  }

  &::v-deep .mx-input {
    height: 50px;
    border-radius: 5px;
    background-color: #f3f6f8;
    border: 1px solid var(--color-primary);
  }
  &::v-deep svg {
    fill: var(--color-primary);
  }

  &::v-deep.input--error {
    .mx-input {
      border: 1px solid var(--color-danger);
    }
  }
}
</style>
