<template>
  <div class="p-card">
    <div>
      <h1 class="ittle">Titre du parcours</h1>
      <div class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, nemo!
      </div>
      <div>
        <div>Voir plus</div>
        <ul>
          <li><span class="material-icons"> share </span></li>
          <li>
            <span class="material-icons"> favorite_border </span>
            <span class="material-icons"> favorite </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.p-card {
    background-color: #f3f6f8;
    border-radius: 7px;
    min-width: 290px;
    max-width: 320px;
    height: 315px;
    padding: 12px;
    cursor: pointer;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('/Designer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
</style>
