<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    style="shape-rendering: auto"
    :width="width"
    :height="height"
    viewBox="0 0 100 100"
    preserveAspectRatio="xMidYMid"
  >
    <path
      d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50"
      :stroke="stroke" :fill="fill"
      stroke-width="5px"
    >
      <animateTransform
        attributeName="transform"
        type="rotate"
        dur="1s"
        repeatCount="indefinite"
        keyTimes="0;1"
        values="0 50 51;360 50 51"
      />
    </path>
  </svg>
</template>

<script>
export default {
  props: {
    width: {
      required: false,
      type: String,
      default: () => '20px'
    },
    height: {
      required: false,
      type: String,
      default: () => '20px'
    },
    stroke: {
      required: false,
      type: String,
      default: () => '#000000'
    },
    fill: {
      required: false,
      type: String,
      default: () => '#000000'
    }
  }
}
</script>
