<template>
  <div>
    <div v-if="Object.keys(file).length" class="wfb-file">
      <div class="wfb-file--main">
        <div class="wfb-file--image h-100">
          <img
            v-if="isPicture"
            :src="file.location"
            style="width: 100%; height: 100%"
          />
          <div v-else class="ext">.pdf</div>
        </div>
      </div>

      <div class="wfb-file--meta">
        <div class="wfb-file--meta--up">
          <a
            class="wfb-file--meta--up--item preview"
            :href="file.location"
            target="_blank"
          >{{ "visualiser" }}</a
          >
          <Button
            title="Supprimer"
            class="wfb-file--meta--up--item dk-btn--sm--danger mr-[12px] dk-flex items-center"
            @click="
              (event) => {
                event.preventDefault();
                deleteFileResponse();
              }
            "
          />
        </div>
        <div class="wfb-file--meta--down">{{ file.originalname }}</div>
      </div>
    </div>

    <!-- uploadefile here -->
    <div v-else class="wfb-cv">
      <div
        id="wfb-cv--main"
        class="wfb-cv--main"
        @drop="dropHandler"
        @dragover="allowDrop"
        @dragleave="removeBgc"
        @click="(event) => $refs.cv.click()"
      >
        <div
          v-if="loading"
          class="wfb-cv--image"
          style="
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <span
            style="
              display: inline-block;
              position: absolute;
              font-size: 12px;
              color: #000;
              font-weight: 600;
            "
          >{{ progressPercent || 0 }}%</span
          >
          <spinner width="60px" height="60px" fill="#fff" />
        </div>
        <div v-else class="wfb-cv--image">+</div>
        <form ref="fileUploder" action="">
          <input
            :id="`file-${_uid}`"
            ref="cv"
            type="file"
            name="file"
            hidden
            @change="(event) => upload(Object.values(event.target.files)[0])"
          />
        </form>
      </div>
      <div v-if="Object.keys(field).length" class="wfb-cv--meta">
        <span
          v-show="(field.extensions || []).length > 0"
          class="wfb-cv--meta--item"
        >{{ "Format excepte" }}:
          {{ (field.extensions || []).join(",").toUpperCase() }}</span
        >
      </div>
    </div>
    <div class="text-danger mt-3">{{ fileError }}</div>
  </div>
</template>

<script>
import Button from '@/components/button.vue'

export default {
  name: 'FileUploader',
  components: {
    Button
  },
  props: {
    field: {
      type: Object,
      required: false,
      default: () => ({ extensions: ['jpg', 'png', 'webp'] })
    },
    editFile: {
      type: Object,
      required: false,
      default: () => ({})
    },
    isPicture: {
      type: Boolean,
      required: false,
      default: true
    },
    previewPicture: {
      type: Object,
      required: false,
      default: () => ({})
    },
    clear: { type: Boolean, required: false, default: false }
  },
  data () {
    return {
      fileError: '',
      progressPercent: undefined,
      loading: false,
      publicColor: undefined,
      file: {}
    }
  },
  watch: {
    editFile: {
      immediate: true,
      handler (value) {
        if (Object.keys(value).length) {
          this.file = value
        }
      }
    },
    previewPicture () {
      this.file = this.previewPicture
    },
    clear () {
      this.file = {}
    }
  },
  mounted () {
    this.publicColor = getComputedStyle(
      document.documentElement
    ).getPropertyValue('--color-primary')
  },
  methods: {
    // deleteFileResponse () {
    //   this.$dialog({
    //     title: this.$capitalize(this.$t('text.areSureToDeleteThisFile')),
    //     text: '',
    //     titleClass: 'wiin-text--blue--dark',
    //     buttons: [
    //       {
    //         text: this.$capitalize(this.$t('action.cancel')),
    //         event: 'cancel',
    //         class: 'wiin-btn--secondary '
    //       },
    //       {
    //         text: this.$capitalize(this.$t('action.confirmDelete')),
    //         event: 'delete',
    //         class: 'wiin-btn--blue--dark'
    //       }
    //     ]
    //   })
    //     .on('cancel', (close) => {
    //       close()
    //     })
    //     .on('delete', (close) => {
    //       const file = document.querySelector(`#file-${this._uid}`)

    //       if (file) {
    //         file.value = null
    //         file.type = 'file'
    //       }

    //       this.loading = true
    //       this.$s3Upload
    //         .for(this.platform.id, this.program.id)
    //         .deleteFile({ id: this.file.file_id })
    //         .then(() => {
    //           this.loading = false
    //           this.$emit('deleteFile', this.file)
    //           this.file = {}
    //           close()
    //         })
    //         .catch((err) => {
    //           this.loading = false
    //           console.log(err)
    //           this.file = {}
    //           close()
    //         })
    //     })
    // },
    deleteFileResponse () {
      console.log('boom boom')
      this.file = {}
      // const file = document.querySelector(`#file-${this._uid}`)

      // if (file) {
      //   file.value = null
      //   file.type = 'file'
      // }
      // this.$dialog({
      //   title: 'Vous etes sure de vouloir supprimer cet image?',
      //   text: '',
      //   titleClass: 'wiin-text--blue--dark',
      //   buttons: [
      //     {
      //       text: 'annuler',
      //       event: 'cancel',
      //       class: 'dk-btn--black__outline'
      //     },
      //     {
      //       text: 'Supprimer',
      //       event: 'delete',
      //       class: 'dk-btn--danger'
      //     }
      //   ]
      // })
      //   .on('cancel', (close) => {
      //     close()
      //   })
      //   .on('delete', (close) => {
      //     const file = document.querySelector(`#file-${this._uid}`)

      //     if (file) {
      //       file.value = null
      //       file.type = 'file'
      //     }
      //     close()
      //   })
    },
    async upload (file) {
      // console.log('fffffff', file)
      const tmp = file.name.split('.')
      const fileExtension = String(tmp[tmp.length - 1] || '').toLowerCase()
      const extensions =
        this.field.extensions.map(el => el.toLowerCase()) || []

      // console.log('fileExtension', fileExtension);
      // console.log('extensions', extensions);
      if (
        extensions.length === 0 ||
        extensions.includes('*') ||
        extensions.includes(fileExtension)
      ) {
        // TODO traduction message erreur

        if (
          this.field.min &&
          !isNaN(this.field.min) &&
          file.size < Number(this.field.min) * 1024 * 1024
        ) {
          // this.fileError = this.$capitalize(this.$t('text.fileSizeTooSmall'))
          this.fileError = 'taille du fichier trop petit'
        } else if (
          this.field.max &&
          !isNaN(this.field.max) &&
          file.size > Number(this.field.max) * 1024 * 1024
        ) {
          // this.fileError = this.$capitalize(this.$t('text.fileTooBig'))
          this.fileError = 'taille du fichier trop grand'
        } else {
          await this.uploadFile(file).catch(() => {})
        }
      } else {
        // this.fileError = this.$capitalize(this.$t('text.invalidFileIncorrectExtension'))
        this.fileError = 'Extenxion du fichier est inccorrecte'
      }
    },
    uploadFile (_file) {
      // console.log('this.$refs.fileUploder', this.$refs.fileUploder)

      this.fileError = ''
      return new Promise((resolve, reject) => {
        this.loading = true

        this.$addFile(new FormData(this.$refs.fileUploder))
          .then((data) => {
            // console.log('this.file data', data)
            this.loading = false
            this.file = {
              location: data.location,
              name: data.name,
              file_id: data.id,
              key: data.key,
              originalname: data.originalname
            }
            // console.log('this.file', this.file)
            this.$emit('addFile', this.file)
            resolve()
          })
          .catch((err) => {
            this.loading = false
            // this.fileError = this.$capitalize(this.$t(`error.${err.message}`))
            this.fileError = `une erreur est survenu error.${err.message}`
            reject(reason)
          })
      })
    },
    allowDrop (event) {
      event.preventDefault()
      const el = this.$el.querySelector('#wfb-cv--main')
      el.classList.add('drag-el')
    },
    removeBgc (event) {
      event.preventDefault()
      const el = this.$el.querySelector('#wfb-cv--main')
      el.classList.remove('drag-el')
    },
    dropHandler (ev) {
      ev.preventDefault()

      // Use DataTransfer interface to access the file(s)
      const files = Object.values(ev.dataTransfer.files)

      this.upload(files[0])
    }
  }
}
</script>

<style lang="scss" scoped>
.wfb-file {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-column-gap: 15px;

  &--main {
    border-radius: 5px;
    overflow: hidden;
  }

  &--image {
    cursor: pointer;

    .ext {
      border: 0.0625rem solid rgb(44, 119, 255);
      color: #3b86ff;
      font-size: 20px;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.3125rem;
    }
  }

  &--meta {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    &--up {
      display: inline-flex;
      flex-direction: column;

      &--item {
        margin-bottom: 10px;
        // font-size: rem(12);
        width: max-content;
        color: white;

        &.preview {
          padding: 5px 12px;
          border: 1px solid var(--color-primary);
          color: var(--color-primary);
          border-radius: 3px;
        }

        &:hover {
          text-decoration: none !important;
          color: none !important;
        }

        // @media (min-width: $screen-bootstrap-xsmall) {
        //   min-width: rem(130);
        // }
        // @media (max-width: $screen-bootstrap-xsmall-min) {
        //   min-width: rem(110);
        // }

        &:hover {
          text-decoration: none;
        }
      }
    }
    &--down {
      font-style: italic;
    }
  }
}

.wfb-cv {
  display: grid;
  grid-template-rows: 160px 1fr;
  grid-gap: 15px;
  align-items: flex-end;
  &--main {
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    padding: 2;
    margin-bottom: 12px;

    &.drag-el {
      background: #f3f6f8;
    }
  }
  &--image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 100%;
    font-size: 70px;
    cursor: pointer;
    font-weight: 100;
    color: var(--color-primary);
  }
  &--meta {
    &--item {
      font-size: 12px;
      display: block;
      font-style: italic;
    }
  }
}

@media screen and (max-width: 540px) {
  .wfb-cv {
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    &--main {
      margin-bottom: 12px;
    }
    &--image {
    }
    &--meta {
      &--item {
      }
    }
  }
  .wfb-file {
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    &--main {
      margin-bottom: 12px;
    }
    &--image {
    }
    &--meta {
      &--item {
        &--up {
          .preview {
            padding: 3px 12px;
            border: 1px solid var(--color-primary);
            color: var(--color-primary);
          }
        }
      }
    }
  }
}
</style>
