<template>
  <div>roles</div>
</template>

<script>
export default {
  layout: 'back/adminTemplate',

  data () {
    return {
      roles: []
    }
  },

  mounted () {
    this.rolesList()
  },

  methods: {
    async rolesList () {
      this.roles = await this.$getRoles()
      console.log('this.roles', this.roles)
    }
  }

}
</script>

<style lang="scss" scoped>
.role {

}
</style>
